/* --------全体-------- */
body {
  /* background-color: #389BB8; */
  margin: 0vw;
  font-family: 'Hiragino Kaku Gothic ProN'、'ヒラギノ角ゴ ProN'、'Hiragino Kaku Gothic Pro'、'ヒラギノ角ゴ Pro';
  /* font-family: "游ゴシック体", YuGothic, "Noto Sans JP", sans-serif; */
  word-break: break-all;
  animation: fadeIn 5s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pc{
  display: none;
}

.smartphone{

}

.white {
  background-color: rgba(255, 255, 255, 0.97);
  margin: 0px 10px 30px 10px;
  padding: 10px 20px;
  /* max-width: 900px; */
}

.section-title {
  font-size: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.15em;
  line-height: 1.7em;
}

.zuizikoukai {
  text-align: center;
  margin: 40px;
}

.zuizikoukai p {
  font-size: 20px;
  margin: 20px;
}

.slideContsL {
  background-color: lightpink;
  transform: translate(-800px, 0);
}

.slideContsR {
  background-color: lightblue;
  transform: translate(800px, 0);
}

.slideContsL.show {
  transform: translate(-50px, 0) !important;
}

.slideContsR.show {
  transform: translate(50px, 0) !important;
}

.section-fadein {
  opacity: 0;
  transform: translate(0, 200px);
  transition: all 1000ms;
}

.section-fadein.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

/* 背景 */
.background {
  margin: 0vh;
  z-index: -10;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: white;
  background-image: url(../image/design/smartphone-bg.png);
  background-position: 0px 0px;
  background-size: cover;
}

.background img {
  width: 100%;
}


/* メニュー */

.menu-wrapper{
  z-index: 999;
	height: 60px;
	background-color: white;
	width: 100vw;
	position: fixed;
	z-index: 2;
 	transition: .3s;

  top: -60px;
}

.menu-wrapper.hide {
  top:-60px;
}

.menu-wrapper.display {
  top:0px;
}


#title{
	display: inline-block;
	/* width: 465px; */
	height: 60px;
}

#title p{
  font-size: 30px;
	background-color: white;
	margin: auto;
	height: 30px;
	display: block;
	position: absolute;
	left: 20px;
	top: 10px;
	float: left;
}

#menu{

	padding: 0vw;
	display: inline-block;
	float: right;
	height: 70px;
  margin: 10px 5px;
  margin-right: 5px;
}

ul .header-button{
  line-height: 0;
  font-size: 20px;
	text-align: center;
	list-style: none;
	float: left;			/*リスト項目を横に並べる*/
	display:inline;			/*リスト項目をインライン表示にする*/
	list-style-type: none;		/*リストマーカー無しにする*/
  margin:0px 10px;
}

ul .header-button img{
	background-color: white;
	height: 28px;
  margin-top: 13px;

  	/* margin-left: -15px; */
}

/* --------メイン------- */

/* ヘッダー */
.header-wrapper{
  width: 100vw;
  height: 100vh;
  /* position: relative; */

}

.mainTitle{
  font-size: 15px;
  background-color: white;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  animation-name:sample01;
  animation-duration:2s;

  animation-fill-mode: forwards;
}

.mainTitle h1{
  font-size: 15px;
}

@keyframes sample01 {
0% {
 opacity: 0;
 transform: translate(-50%, -30%);
}
  100%{
    opacity: 1;
    transform: translate(-50%, -50%);
  }

}

.smartphone-info{
  z-index:100;
  position:fixed;
  left:0px;
  top:0px;
  height: 100vh;
  width: auto;
}

.smartphone-title{
  z-index:100;
  position:fixed;
  right:0px;
  height: 100vh;
  width: auto;
}


.scrolldown4{
    /*描画位置※位置は適宜調整してください*/
  position:absolute;
  bottom:1%;
  right:50%;
    /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 2s ease-in-out infinite;
}

@keyframes arrowmove{
      0%{bottom:3%;}
      50%{bottom:5%;}
     100%{bottom:3%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
    /*描画位置*/
  position: absolute;
  left:-20px;
  bottom:10px;
    /*テキストの形状*/
  color: #eee;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
    /*描画位置*/
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 5px;
    height: 20px;
    background: #eee;
    transform: skewX(-31deg);
}


.scrolldown4:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:5px;
  height: 50px;
  background:#eee;
}



/* ステートメント */
.statement-wrapper{
  width: 100vw;
  /* height: 100vh; */
  font-size: 18px;
  margin-bottom: 100px;
}

.statement-info-wrapper{
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* margin-right: -50%;
  transform: translate(-50%, -50%) */
}

.statement-wrapper p{
  font-size: 12px;
  letter-spacing: 0.15em;
	line-height: 1.7em;
	text-align: justify;
	font-feature-settings: "palt";
}

.section-title span{
  line-height: 1.7em;
  font-size: 20px;
}

.statement-title{
  font-size: 20px;
  margin-bottom: 10px;
}

.statement-title-min{
  font-size: 14px;
  margin-bottom: 30px;
}


/* アバウト */
.about-wrapper{
  /* margin: 100px 0px; */
  position: relative;
}

.about-wrapper p {
  margin: 10px 0px;
  font-size: 12px;
  letter-spacing: 0.15em;
	line-height: 1em;
	text-align: justify;
	font-feature-settings: "palt";
}

.about-wrapper p span {
  /* margin: 30px 0px; */
  font-size: 10px;
  letter-spacing: 0.15em;
	line-height: 1px;
	text-align: justify;
	font-feature-settings: "palt";
}


.about-wrapper iframe{
	margin: 10px 0vw;
	width: 100%;
	height: 480px;
}

.reservation-wrap{
  text-align: center;
}

.reservation {
  width: 90%;
  margin: 30px auto;
  font-family: 'Noto Serif JP', serif;
  font-size: 15pt;
  color: black;
  background: #white;
  padding: 20px 40px;
  display: inline-block;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}



/* アコーディオンメニュー全体のサイズ・位置 */
.ac {
  width: 100%;
  /* max-width: 600px; */
  margin: 20px auto;
  color: black;
}

.ac p{
  padding: 12px;
}

/* クリック領域 */
.ac-parent {
  /* border-radius: 5px; */
	position: relative;  /* 追加 */
	/* height: 50px; */
	border-bottom: 1px solid #fff;
	background-color: white;
	color: #fff;
	/* text-align: center; */
	/* line-height: 50px; */
	cursor: pointer;
}

.ac-parent {
  color: black;
}

.kansen-taisaku{
  width:90%;
}

/* 擬似要素で下三角形を作成 */
.ac-parent:after {
	content: "";
	display: inline-block;
	position: absolute;
	top: 45%;
	right: 30px;
	width: 10px;
	height: 10px;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	transform: translateY(-50%) rotate(45deg);
	transition: .3s;
}

/* オープン時にopenクラスを付与 */
.ac-parent.open:after {
	transform: rotate(225deg);
}

/* クリックしたら表示される領域 */
.ac-child {
  /* border-radius: 5px; */
  display: none;
  /* padding: 2em 1em; */

  background-color: white;
  /* text-align: center; */
}


/* 作家 */
.exhibitors-wrapper{

}

.section-title-mini{
  font-size: 10pt;
	/* height: 22px; */
	margin: 30px 0vw;
}

.grades{
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 30px;
}

.exhibitor-wrapper{
  width: calc(100% - 12px);
  padding: 6px 6px;
  margin: 6px 6px;
}

.sumbnail img{
  width: 100%;
  height: auto;

  opacity: 1;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.sumbnail:hover img {
  opacity: .4;
}

/* モーダル */

.works_modal_content{
    text-align: center;
}
.works_image:hover .works_image_mask {
    opacity: 1;
    padding-top: 13%;
}
/* ------works_modal css------ */
.works_modal_wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: none;
    opacity: 0;
    z-index: -1;


}
.works_modal_window {
    width: 90vw;
    max-width: 1000px;
    height: 80vh;
    margin: auto;
    /* padding: 15px; */
    background: #fff;
    z-index: 1;
    overflow-y: auto;
    overflow-y: scroll;
}
.works_modal_content {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
.works_modal_mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.modal_close {
  position: fixed;
    z-index: 300;

    bottom: 0;
    right: 10px;
    color: #808080;
    font-size: 50px;
    cursor: pointer;
}

.works_modal_close:hover {
    color: #000;
    transition: all .5s;
}
html.is_open, body.is_open {
    overflow: hidden;
}
.works_modal_wrapper.is_open {
    animation: works_modal_wrapper_open .5s ease forwards;
}
.works_modal_wrapper.is_open .works_modal_window {
    animation: works_modal_window_open .5s ease forwards;
}
.works_modal_wrapper.is_close {
    animation: works_modal_wrapper_close .5s ease forwards;
}
.works_modal_wrapper.is_close .works_modal_window {
    animation: works_modal_window_close .5s ease forwards;
}

.exhibitor-mainvis{
  width: 100%;
  height: auto;
}
.exhibitor-mainvis img{
  width: 100%;
  height: auto;
}

.title1{
  font-size: 7px;
  text-align:right;
  margin-right: 5px;
}

.exhibitor-contents-wrapper{
  width: 80%;
  margin: 10px;
}

.exhibitor-image{
  width: 150px;
  height: auto;
}

.exhibitor-contents-wrapper h2{
  font-size: 15px;
}

.exhibitor-contents-wrapper p{
  font-size: 10px;
}

.Pastwork-wrapper{
  margin: 30px 0px;
}

.Pastwork-image{
  width: 80%;
  height: auto;
}

.Pastwork-title{
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;

}



@keyframes works_modal_wrapper_open {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      z-index: 300;
    }
  }
  @keyframes works_modal_window_open {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes works_modal_wrapper_close {
    0% {
      z-index: 300;
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes works_modal_window_close {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      transform: translateY(-30px);
      opacity: 0;
    }
  }



  /* イベント */
  .event-wrapper{

  }

  /* フッター */

  /*フッター*/
  .footer-wrapper{
  	/* background: #6CB5B3; */
    width: 100%;
  	-ms-flex-pack: distribute;
  	justify-content: space-around;


  }


  .footer-wrapper div #icons{
  	margin: 10px 0vw;
  }

  .footer-wrapper div #icons img{
  	width: 30px;
  	padding-right: 6.67px;
  }

  .footer-wrapper div #contact{
    	margin: 10px 0vw;
    	/* color: white; */
  	font-size: 7pt;
    	letter-spacing: 0.15em;
  }

  .footer-wrapper div #contact_title{
    	font-weight:bold;
  }

  .footer-wrapper div #contact_mail{
  	font-size: 7pt;
    	margin-top: 0px;
    	margin-bottom: 0px;
  }

  .footer-wrapper div #credit{
  	margin: 26.67px 0vw;
  	/* color: white; */
  	font-size: 7pt;
  	letter-spacing: 0.15em;
  }

  #loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #389BB8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1.0s;
    z-index: 9999;
  }

  .completed {
    opacity: 0;
    visibility: hidden;
  }


  .loader {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }
